* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
}

.heroOne {
  width: 100%;
  height: 100vh;
  background-image: url("./img/hero11.png");
  background-position: top;
  background-repeat: no-repeat;
}

.mountain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mountain img {
  width: 35%;
  height: 35%;
  position: relative;
  top: -150px;

  @media screen and (max-width: 768px) {
    width: 70%;
    height: 25%;
  }
}

.firstHeader {
  width: 80%;
  margin: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 50px;
  font-size: 11px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;

  @media screen and (max-width: 768px) {
    gap: 20px;
    font-size: 10px;
  }
}

.heroTwo {
  width: 100%;
  height: 100vh;
  background-image: url("./img/peak_0.png");
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

/* secondComponent */
.secondHeader {
  width: 100%;
  height: 10vh;
  background-color: #fff;
}

.HeaderWrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history {
  width: 100%;
  margin-top: 40px;
}
.noText {
  width: 80%;
  margin: auto;
  display: flex;
  @media screen and (max-width: 768px) {
    height: 10vh;
  }
}
.historyText {
  width: 70%;
  margin: auto;
}
.pText {
  line-height: 25px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
  }
}
.carousel {
  width: 100%;
  height: 20vh;
  background-color: #404f6cd7;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  gap: 5px;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none;
}

.img {
  list-style: none;
}

.slideIMG {
  height: 80%;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 50%;
  }
}

/* third hero style */
.thirdHero {
  width: 100%;
  height: 100vh;
  background-image: url("./img/hero3.png");
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.climbsection {
  width: 100%;
}
.climb1 {
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.climb1 p {
  width: 80%;

  @media screen and (max-width: 768px) {
    width: 100%;
    text-align: justify;
    font-size: 12px;
  }
}
.climb1 img {
  @media screen and (max-width: 768px) {
    height: 10vh;
  }
}
.climbNavigation {
  width: 100%;
  height: 7vh;
  background-color: #404f6c;
}
.navHold {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;

  gap: 20px;
}
.navHold p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  color: #a0a7b5;
  font-size: 18px;
}
.climbBackground {
  width: 100%;
  background-color: #fff;
}
.schedule {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  margin-left: 10%;

  @media screen and (max-width: 768px) {
    width: 70%;
  }
}
.schedule h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #404f6c;
  font-size: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.datetext {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.datetext p {
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.climbFooter {
  width: 100%;
  padding: 10px 0px;
  background-color: #404f6c;
}
.footerWrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footerWrapper p {
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: #63769d;
  @media screen and (max-width: 700px) {
    margin-top: 10px;
  }
}
